/* COLORS

Yellow = #FDE400
Light Yellow = #fef8bf
Blackish = #222222
Blue-grey = #D8DFF2
Dark-grey = #3333333

The iPhone is 320×480, the iPhone 4 is 640×960 and the iPhone 5 is 640×1136

*/
@import "reset.scss";

$yellow: #fde400;
$yellow_light: #fef8bf;

body {
    background: url('../images/watermark4.gif') repeat; /*../OLD/images/watermark.gif*/
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(136, 136, 136, .5);
    margin: 10px auto;
    position: relative;
    width: 960px;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #333333;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    margin: 0;
    position: relative;
}

header img#logo {
    background-color: #ffffff;
    border-radius: 10px 0 0 0;
    padding: 10px;
    width: 300px;
}

header img.banner {
    border-radius: 10px;
    margin-left: 9px;
    width: 120px;
}

aside#contact {
    color: #ffffff;
    font-size: .9em;
    height: 177px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 620px;
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    border-radius: 0 10px 0 0;;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

aside#contact div {
    padding: 10px;
    text-align: right;
}

div#license {
}

div#address {
    float: right;
}

div#pfe {
    clear: both;
    float: right;
}
div#pfe a, div#pfe a:visited {
    color: #ffffff;
}

section {
    background: #ffffff url('../images/bg-menubar.jpg') repeat-y;
    overflow: hidden;
    position: relative;
    width: 100%;
}

menu {
    background-color: #333333;
    border-right: 1px rgba(0,0,0,1) solid;
    color: rgba(34,34,34,1);
    float: left;
    font-family: sans-serif;
    font-size: .9em;
    font-weight: bold;
    height: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    /*position: absolute;*/   /* Removal makes page height adjust, while inclusion gives solid grey the whole length */
    /*text-transform: uppercase;*/
    width: 130px;

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

menu li {
    border-bottom: 1px rgba(0,0,0,1) solid;
    overflow: visible;
    position: relative;
}

menu li a,
menu li a:visited {
    color: #ffffff;
    display: block;
    padding: 5px;
    width: 100px;
}

menu li:hover {
    background-color: rgba(253,228,0,1);
}

menu li:hover a {
    color: rgba(34,34,34,1);
}

menu li.active {
    background-color: rgba(253,228,0,1);
}

menu li.active a {
    color: rgba(34,34,34,1);
}

menu li ul {
    display: none;
    list-style: none;
    z-index: 100;
}

menu li:hover ul,
menu li.active ul {
    display: block;
}

menu li:hover ul {
    background-color: rgba(253,228,0,1);
    left: 131px;
    position: absolute;
    top: 0;
}

menu li.active:hover ul {
    left: 0;
    position: relative;
    top: 0;
}

menu li ul li {
    border-bottom: none;
}

menu li ul li a {
    font-size: .8em;
    padding-left: 20px;
}

a {
    font-weight: bold;
}

.flare1 {
    color: $yellow;
    -webkit-text-stroke: 1px black;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.flare2 {
    color: $yellow_light;
    -webkit-text-stroke: 1px black;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

article {
    float: right;
    line-height: 1.5;
    /*min-height: 610px;*/
    padding: 30px;
    width: 750px;
}

article p,
article li {
    font-family: sans-serif;
    font-size: .9em;
}

h1 {
    border-bottom: 1px solid #cccccc;
    font-family: sans-serif;
    font-size: 1.3em;
    margin-top: 0;
    text-transform: uppercase;
}

h2 {
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
}

.justified p {
    text-align: justify;
}

.quote {
    font-style: italic;
}

.photo {
    border: 5px solid #333333;
    box-shadow: 5px 5px 5px 0px #ccc;
    /*
    -moz-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    */
    margin-top: 20px;
    width:95%;
}
#licensemap img {
    width: 650px;
}
.photo-right {
    border: 5px solid #333333;
    box-shadow: 5px 5px 5px 0px #ccc;
    float: right;
    margin: 0 0 10px 20px;
    width: 250px;
}

.photo-right-big {
    border: 5px solid #333333;
    box-shadow: 5px 5px 5px 0px #ccc;
    float: right;
    margin: 0 0 10px 20px;
    width: 400px;
}

article ul {
    margin-left: 40px;
}

.mugshot {
    background-color: #ff0000;
    border: 1px solid #000000;
    float: left;
    height: 200px;
    margin: 10px 10px 0 0;
    width: 150px;
}

h2.divider {
    padding-top: 30px;
}
.column {
    float: left;
    margin-right: 5%;
    text-align: justify;
    width: 45%;
}
.column.left {
    text-align: left;
}
#affiliations img {
    margin-right: 10px;
}

.important {
    color: #ff0000;
    font-weight: bold;
}
#licensemap {
    position: relative;
}
.stateoverlay {
    background-color: rgba(253,228,0,0.8);
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #333;
    display: none;
    left: 20px;
    padding: 10px;
    position: absolute;
    top: 40px;
}
div.peekaboo {
    display: none;
}
div#fichter,
div#brick {
    display: block;
}
#careers {
    display: none;
}
#tenyearslogo {
    margin-top: 3px;
    width: 130px;
}
.tenyears {
    color: $yellow;
    font-size: 1.3em;
    font-weight: bold;
}
a.social-media {
    background:transparent url(../images/social-media-icons.png) 0 0 no-repeat;
    display: block;
    height: 20px;
    padding: 3px 10px 0 25px;
    position: absolute;
    right: 10px;
    top: 20px;
}
a.li {background-position:0 -194px;}
footer {
    background-color: #333333;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #fff;
    clear: both;
    color: #ffffff;
    font-size: .9em;
    padding: 20px;
    position: relative;
    text-align: center;

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
footer a, footer a:visited {
    color: #ffffff;
}
footer a:hover {
    color: #661a03;
}
/* ----- CLEAR FIX ----- */
.clear:after, .clrfix:after, section:after, menu:after, article:after {
    clear:both;height:0;
    content:" ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
/***************************************************************************************************/
/**************************************** RESPONSIVE DESIGN ****************************************/
/***************************************************************************************************/
/* iPad Portrait View */
/* NOTE: The default layout is optimized for iPad landscape, so it's not declared here. */
/* NOTE: The min-width to max-width is for the sake of a fluidly resized window on a laptop or desktop browser. */
@media only screen and (min-width: 753px) and (max-width: 1008px) {  /* Scrollbar makes it 1008 instead of 1023 */
    body {
        width: 720px;
    }
    aside#contact {
        width: 380px;
    }
    article {
        width: 510px;
    }
    #licensemap img, map {
        width: 480px;
    }
    .column iframe {
        width: 240px;
    }
}
/* iPhone Landscape View */
@media only screen and (min-width: 465px) and (max-width: 752px) {
    body {
        width: 460px;
    }
    aside#contact {
        font-size: 10px;
        width: 120px;
    }
    article {
        width: 260px;
    }
    a.wnt {
        clear: both;
        display: block;
    }
}
/* iPhone Portrait View */
@media only screen and (min-width: 320px) and (max-width: 464px) {
    body {
        width: 300px;
    }
    header img#logo {
        width: 280px;
    }
    aside#contact {
        font-size: 10px;
        height: 178px;
        position: absolute;
        right: 0;
        top: 185px;
        width: 149px;
        z-index: 1;
    }
    menu {
        height: auto;
    }
    article {
        padding: 20px;
        padding-top: 198px;
        width: 255px;
    }
}